@import "tailwindcss";

@theme inline {
  --color-primary: #001e39;
  --color-brand: #001e39;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}